<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <!-- <div class="sb-sidenav-menu-heading">Core</div> -->

                <a routerLink="/home" routerLinkActive="active" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa fa-home"></i></div>
                    Home
                </a>

                <a routerLink="/about-us" routerLinkActive="active" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa fa-file"></i></div>
                    About Us
                </a>

   
                <a routerLink="/help" routerLinkActive="active" class="nav-link">
                    <div class="sb-nav-link-icon"><i class="fas fa fa-cog"></i></div>
                    Help
                </a>

            </div>
        </div>

    </nav>
</div>